body {
  padding-top: 50px;
  background: url(../img/triangular.png) repeat;
  padding-bottom: 200px;
}

h1, h2, h3 {
  margin-top: 6px;
  margin-bottom: 20px;
}

.top-bits {
  padding-top: 40px;
  padding-bottom: 100px;
  text-align: center;
}

.top-bits h1 {
  font-size: 60px;
}


.panel {
  padding: 10px;
}
